# 忽视一个特定文件夹
01_freertos_template_自建/
.git/
SI/

# MDK5/*
# !MDK5/01_freertos_template

# 忽视MDK5/01_freertos_template/下的所有文件
MDK5/01_freertos_template/*
# 但是除了Core和Middlewares子文件夹
!MDK5/01_freertos_template/Core/
!MDK5/01_freertos_template/Middlewares/

MDK5/02_firsrTask/*

MDK5/05_createTask/*
!MDK5/05_createTask/Core/

MDK5/06_createTaskUseParms/*
!MDK5/06_createTaskUseParms/Core/

MDK5/01_freertos_template/*
!MDK5/01_freertos_template/Core/

MDK5/07_delateTask/*
!MDK5/07_delateTask/Core/

MDK5/08_task_priority/*
!MDK5/08_task_priority/Core/

MDK5/09_task_suspend/*
!MDK5/09_task_suspend/Core/

MDK5/11_task_delay/*
!MDK5/11_task_delay/Core/

MDK5/12_task_sync_exclusion/*
!MDK5/12_task_sync_exclusion/Core/
MDK5/12_task_sync_exclusion/Core/Inc/*
MDK5/12_task_sync_exclusion/Core/Src/*
!MDK5/12_task_sync_exclusion/Core/Src/freertos.c
# 忽视所有 .格式 的文件
*.bat
*.ioc
*.mxproject

# 忽视一个特定文件
LICENSE
